<html>
    <head><title></title>
    <link rel="stylesheet" href="../style/burgerMenustyle.css">
    </head>
    <body>
       <div class="container">
           <h1>Burger Menu</h1>
           <h3>You're gonna need two hands to hold our toasted buns. Our fresh, juicy burgers are served up medium-well with a sclasse of fries and a whole lot of flavor.</h3>
            <div class="menu-block">
                <div class="menu" id="menu1">
                    <div class="menu-element">
                        <p class="menu-title">Double Burger</p>
                        <p class="menu-price">$8.50</p>
                        <a href="../views/Subscribe.html" class="menu-btn">ADD TO CART</a>
                    </div>
                    
                </div>
                <div class="menu" id="menu2">
                    <div class="menu-element">
                        <p class="menu-title">Farm House</p>
                        <p class="menu-price">$7.50</p>
                        <a href="" class="menu-btn">ADD TO CART</a>
                    </div>
                </div> 
                <div class="menu" id="menu3">
                    <div class="menu-element">
                        <p class="menu-title">Bacon Burger</p>
                        <p class="menu-price">$8.00</p>
                        <a href="" class="menu-btn">ADD TO CART</a>
                    </div>
                </div>
                <div class="menu" id="menu4">
                    <div class="menu-element">
                        <p class="menu-title">Special Offer</p>
                        <p class="menu-price">$15.00</p>
                        <a href="" class="menu-btn">ADD TO CART</a>
                    </div>
                </div>
                <div class="menu" id="menu5">
                    <div class="menu-element">
                        <p class="menu-title">Black Burger</p>
                        <p class="menu-price">$11.00</p>
                        <a href="" class="menu-btn">ADD TO CART</a>
                    </div>
                </div>
                <div class="menu" id="menu6">
                    <div class="menu-element">
                        <p class="menu-title">King Burger</p>
                        <p class="menu-price">$11.00</p>
                        <a href="" class="menu-btn">ADD TO CART</a>
                    </div>
                </div>
            </div>
       </div>
    </body>
</html>