<html>
    <head><title></title>
    <link rel="stylesheet" href="../style/menuList.css">
    </head>
    <body>
        <div class="container">
           <div class="menu-block">
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>01</span>
                        </div>
                        <p>Burger Food</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        <a href="../views/burgeurMenu.html">learn more</a> 
                    </span>
                </div>
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>02</span>
                        </div>
                        <p>Dinner Meals</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        learn more
                    </span>
                </div>
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>03</span>
                        </div>
                        <p>Classic Menu</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        learn more
                    </span>
                </div>
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>04</span>
                        </div>
                        <p>Chef's Special</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        learn more
                    </span>
                </div>
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>05</span>
                        </div>
                        <p>Pasta & Pizza</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        learn more
                    </span>
                </div>
                <div class="menu-item">
                    <div class="menu-header">
                        <div class="circle">
                            <span>06</span>
                        </div>
                        <p>Vegan Dishe</p>
                    </div>
                    <p class="menu-info">
                        Sample text. Click to select the text box. Click again or double click to start editing the text.
                    </p>
                    <span class="lien">
                        learn more
                    </span>
                </div>
           </div>
          
        </div>
      
    </body>
</html>