<html>
    <head><title></title>
    <link rel="stylesheet" href="../style/subscribe.css">
    </head>
    <body>
        <div class="image">
            <img src="../images/register.jpg" alt="">
       </div>
        <div class="container">
        </div>
           <div class="register">
                <P class="title">Subscribe</P>
                <P class="subtitle">to the newsletters and content update</P>
                <div class="form">
                    <input type="text" id="email" placeholder="Enter a valid email adress">
                    <a href="">Submit</a>
                </div>
                <div class="contact">
                    <div class="location">
                        <p>Location</p>
                        <span>28 Jackson Blvd Ste 1020 </span>
                        <span>Chicago</span>
                        <span>IL 60604-2340</span>
                    </div>
                    <div class="social">
                        <p>Follow Us</p>
                        <div class="social-network">
                            <img src="../images/social network/instagram.png" alt="">
                            <img src="../images/social network/tiktok.jpg" alt="">
                            <img src="../images/social network/twitter-logo.jpg" alt="">
                        </div>
                        <span>Image from Freepik</span>
                        <span id="copyright">©2020 Privacy policy</span>
                    </div>
                </div>
           </div>
          
           
           
    </body>
</html>